/*Reset de Css: elimina los estilos por defecto*/

* {
    box-sizing: border-box;
    margin: 0.5%;
    padding: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
 }
body{
    background-color: #DCCCA3;
}
.titulo1 {
    text-decoration: underline;
    color: #8a2be2;
    text-align: center;
    text-transform: capitalize;
    font-size: 3em; /*px unidad Absoluta*/
    font-family:  "Playfair Display", serif; /*FUENTE IMPORTADA*/
}
.titulo2 {
    text-align: center;
    font-size: 2em; /*em unidad relativa, al tamano del elemento padre. rem es relativo al tamano del elemento raiz*/
    color: #333333;
    font-family: "Montserrat", serif;
    font-weight: 300;
}
.navbar-custom
{
   background-color: #8a2be2;
   width: 100%;
   max-width: 100%;
}
.navbar-custom ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-custom li{
    margin: 0 15px;
}
.navbar-custom a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 2vh;
}
.portada { /*contenedor de imagenes principales*/
    display: flex;
    flex-flow: row nowrap; /*establece flow direction y flow wrap*/
    justify-content: center; /*Horizontal*/
    align-items:center ; /*Vertical*/
    width: 100%;
}
.portada__banner {
    width:100%;
    max-width: 100%;
    border-radius: 1%;
}

.portada__bannermobile {
    display: none;
}
.footer-box-model {
    width: 100%; /*ocupa el % del ancho del contenedor*/
    height: 75px; /*VH*/
    background-color: #d3d3d3;
    padding: 20px;
    border: 5px solid #000000;
    margin: 0.5%;
    font-size: 1.3em;
    text-align: center;
}
.piedepagina {
    text-align: center;
    color: #777777;
}

/*BOTON WHATSAPP*/
.btn-wap {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-wap img {
    width: 35px;
    height: 35px;
}
.btn-wap:hover {
    background-color: #85fca9;
  }

/*SERVICIOS.HTML*/

@keyframes borderAnimation {
    0% { border-color: violet; }
    50% { border-color: purple; }
    100% { border-color: violet; }
}

.image-container {
    display: inline-block; /* Para que se ajuste al tamaño de la imagen */
}
.animated-border {
    width: 50%; /* Ajusta el ancho de la imagen */
    height: auto;
    border: 4px solid violet; /* Define el borde inicial */
    animation: borderAnimation 2s infinite alternate; /* Aplica la animación */
    max-width: 100%;
}
.grid-conteiner {
    display: grid;
    gap: 10px;
    justify-items: center;;
    grid-template-areas: 
    "card card card card" "card card card card" "aside aside aside aside"
}
/*CARD*/
.grid-conteiner__card{
    display: flex;
    width: 90%;
    max-width: 300px;
    height: auto;
    border: 2px solid #ee82ee;
    border-radius: 2px;
    background-color:#8a2be2 ;
    margin: 20px;
    padding: 10px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
 }

.grid-conteiner__card img {
    width: 80%;
    max-width: 200px;
}

.grid-conteiner__card h4{
    color: #ffffff;
    /* font-size: 2.5vw; */
    font-weight: 50;
}
.grid-conteiner__card button {
    cursor: pointer;
    font-size: 100%;
    width: 50%;
    height: auto;
    margin-top: 2%;
}
.grid-conteiner__aside {
    grid-area: aside;
}
.grid-conteiner__aside ul {
    list-style: none;
}
.grid-conteiner__aside ul li {
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 3vh;
    background-color: #8a2be2;
    color: #fff;
    height: 2.5em;
}
.grid-conteiner__aside ul p{
    font-size: 2.5vh;
    font-weight: 0;
}
/*CONTACTO.HTML*/
/*Acomodando BSS*/
/*Contenedor Flex*/
.container-form-carousel {
    display: flex;
    justify-content: space-around;   /* Mantiene separación  */
    align-items: center;  /* Centra verticalmente */
    flex-wrap: nowrap;  /*Evita que se apilen */
}

/*Form*/
.main-section-form p
{
    font-family: "Montserrat", serif; /*Font importada*/
}
.main-section-form h2
{   margin: 1%;
    font-size: 170% ;
    font-weight: 300;
}
.main-section-form {
    flex: 1; /* Hace que el formulario ocupe el mismo espacio que el carrusel */
    max-width: 600px;
}
.form-card {
    background: #ffffff;
    border: 1px solid #ddd;
    max-width: 800px;
    margin: auto;
}

/*Carrousel BSS*/
.carousel-container {
    flex: 1;
    max-width: 800px; 
    min-width: 300px; /* Evita que se haga demasiado pequeño */
    overflow: hidden; /* Evita que crezca inesperadamente */
}
.carousel-inner img {
    width: 100%; /* Asegura que las imágenes no se expandan */
    height: auto; /* Mantiene la proporción */
}
.carousel {
    max-width: 600px; /* Evita que crezca más */
    min-width: 300px;
}
.contenedor-flex2 {
    text-align: center;
}
.mapa {

    width: 50%;
    max-width: 100%;

}
.mapa1{
    width: 50%;
    max-width: 100%;
}
/*Animacion Titulo Pagina*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  
/*desktop to mobile*/

@media (max-width: 768px)
    {
    .titulo1 {
  
    font-size: 4vh; /*px unidad Absoluta*/
    
    }
    .titulo2 {
        font-size: 3vh;
    }

    .grid-conteiner__aside ul li {
        font-size: 2.5vh;
        height: auto;
    }
    .grid-conteiner__card {
        
        width: 80%;
        border-radius: 1px;
        margin: 10px;
        padding: 5px;          
    }  
    .grid-conteiner__card button {
        font-size: 2vh;
    }
    .footer-box-model {
        width: 100%; /*ocupa el % del ancho del contenedor*/
        height: 50px; /*VH*/
        background-color: #d3d3d3;
        padding: 10px;
        border: 5px solid #000000;
        margin: 0.5%;
        font-size: 1em;
        
    }
    .piedepagina u {
        font-size: 0.8em;
    }
    .main-section-form {
        margin: 2%;
    }
    .mapa {
        width: 25em;
    }
    .container-form-carousel {
        flex-direction: column; /* Apila en pantallas pequeñas */
    }
    .carousel-container,
    .main-section-form {
        max-width: 100%; /* Permite que ocupen todo el ancho */
    }
    .grid-conteiner {
        display: grid;
        background-color: #DCCCA3;
       
        grid-template-areas: 
        "card card"
        "card card" 
        "card card"
        "card card"
        "aside aside"
        
    }
    .navbar-custom {
        width: 100%;
    }
    .animated-border {
        width: 100%; /* Ajusta el ancho de la imagen */}
    .form-card {
        flex-direction: column;
        text-align: center;
    }
    
    .form-container {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    
    .form-container input {
        width: 100%;
    }
    .mapa1{
        display: none;
    }
}
@media (max-width: 420px)
    {
    .titulo2 {
        font-size: 1.3em;
    }
    .grid-conteiner__card {
        
        width: 80%;
        height: auto;
 
    }
    .grid-conteiner__card h4 {
        font-size: 3vh;
        color: #fff;
    }
    .main-section-form {
        margin: 2%;
        width: 200%;
      
    }
    .main-section-form p 
    {
        font-size: 80%;
        margin-top: 2%;
        
    }
    .portada__banner{
        display: none;
    }
    .portada__bannermobile{
        display: block;
        width: 100%;
        height: 80%;
    }
    .grid-conteiner {
        display: grid;
        background-color: #DCCCA3;
        grid-template-areas: 
        "card"
        "card" 
        "card"
        "card"
        "card"
        "card" 
        "card"
        "card"
        "aside"
        
    }

    .grid-conteiner__aside ul li {
    background-color: #8a2be2;
    color: #ffffff;
    font-size: 3vh;
    text-align: center;
    height: auto;
    }
    }
