.animated-border {
    height: auto;
    border: 4px solid $lila; 
    animation: borderAnimation 2s infinite alternate; 
    @include w-mw(50%, 100%)
}
@keyframes borderAnimation {
    0% { border-color: $lila; }
    50% { border-color: $uva; }
    100% { border-color: $lila; }
}
.image-container {
    display: inline-block; 
}
.container-form-carousel {
    @include flex-jc-sa;
    flex-wrap: nowrap;
    align-items: center;
    .main-section-form {  /*Form*/
        flex: 1;
        max-width: 600px;
        p{
            font-family: $title-sec; /*Font importada*/ 
        }
        h2{
            margin: 1%;
            font-size: 170% ;
            font-weight: 300;
        }
        .form-card {
            background: #ffffff;
            border: 1px solid #dddddd;
            max-width: 100%;
            margin: auto;
        }
    }
    .carousel-container { //Carrousel BSS
        flex: 1;
        max-width: 800px; 
        min-width: 300px; /* Evita que se haga demasiado pequeño */
        overflow: hidden; /* Evita que crezca inesperadamente */
        img{
            width: 100%; /* Asegura que las imágenes no se expandan */
            height: auto; /* Mantiene la proporción */  
        }
        .carousel {
            max-width: 600px; /* Evita que crezca más */
            min-width: 300px;
        }
    }
}
.mapa {
    @include w-mw(50%, 100%)
}
.mapa1{
    width: 50%;
    max-width: 100%;
}


