.footer-box-model {
  width: 100%; /*ocupa el % del ancho del contenedor*/
  background-color: $kaki;
  padding: 20px;
  border: 5px solid $black;
  text-align: center;
  p {
    margin: 0.5%;
    font-size: map-get($size-em, sm);
  }
}
.piedepagina {
  text-align: center;
  color: $grey;
}
.contenedor-flex2 {
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  a {
    display: inline;
    img {
      width: 40px;
    }
  }
}
