//footer
.footer-box-model {
    width: 100%; /*ocupa el % del ancho del contenedor*/
    height: 75px; /*VH*/
    background-color: $kaki;
    padding: 20px;
    border: 5px solid $black;
    margin: 0.5%;
    font-size: map-get($size-em, sm);
    text-align: center;
}
.piedepagina {
    text-align: center;
    color: $grey;
}
.contenedor-flex2 {
    text-align: center;
}