//Titulos
$title-prin: "Playfair Display", serif;
$title-sec: "Montserrat", serif;

//size
$small: 1em;
$medium: 2em;
$large: 3em;

//map-get
$size-em: (
  xxs: 0.8em,
  xs: 1em,
  sm: 1.3em,
  md: 2em,
  lg: 2.5em,
  xl: 3em,
);
